%ul
  %li
    %a{:href => "/book_records"} 新场地预定
  %li
    %a{:href => "/advanced_orders/new"} 新场地周期性预定
  %li
    %a{:href => "/courts/court_status_search"} 场地预定情况查询
  %li
    %a{:href => "/courts/coach_status_search"} 教练日程查询
