%ul
  %li
    %a{:href => "/period_prices"} 时段价格管理
  %li
    %a{:href => "/cards"} 卡模板管理
  %li
    %a{:href => "/courts"} 场地管理
  %li
    %a{:href => "/vacations"} 节假日管理
  %li
    %a{:href => "/coaches"} 教练管理
  %li
    %a{:href => "/lockers/list"} 储物柜管理
