%ul
  %li
    %a{:href => "/members/member_card_bind_index"} 会员卡绑定
  %li
    %a{:href => "/member_cards/search"} 会员卡充值
  %li
    %a{:href => "/member_cards/granters"} 授权人管理
  %li
    %a{:href => "/member_cards/status"} 停卡激活管理
