%ul
  %li
    %a{:href => "/reports/income"} 日收入报表
  %li
    %a{:href => "/reports/income_by_month"} 月收入报表
  /
    <li><a href="/reports/member_consume_detail">会员消费明细</a></li>
    <li><a href="/reports/court_usage">场地使用率</a></li>
    <li><a href="/reports/coaches">教练分帐报表</a></li>
