.w96
  .r_bt
    .r_bt_l
      .r_bt_l_a
      .r_bt_l_c.fb.white 修改教练信息
    .r_bt_r
      %button.submit2.hand{:onclick => "window.location.href='/coaches/new'", :type => "button"} 添加教练
  = render 'form',:coach => @coach
  .h10
