<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <title>博德维网球管理系统</title>
        <link href="styles/sty.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
            <!--
            body{background: url(images/login_bg.jpg) repeat-x top center #dfff92 ;}
            -->
        </style>
    </head>

    <body>
        <div class="login">
            <div class="login_bt white fmic30">博德维网球管理系统</div>
            <div class="login_tu"></div>

            <div class="login_bd">
                <ul>
                    <li class="w25 tright" >选择分店：</li>
                    <li ><label><select name="select" id="select"><option>博德维</option></select></label></li>
                </ul>
                <ul>
                    <li class="w25  tright" >用户名：</li>
                    <li ><label><input style="height:20px; line-height:20px;" name="textfield" type="text" id="textfield" size="40" />
                        </label></li>
                </ul>

                <ul>
                    <li class="w25  tright" >密码：</li>
                    <li ><label><input style="height:20px; line-height:20px;" name="textfield" type="text" id="textfield" size="40" />
                        </label>
                        <a class="f12" href="#">忘记密码吗?</a></li>
                </ul>
                <ul>
                    <li class="w25  tright" ></li>
                    <li >
                        <label><input type="checkbox" name="checkbox" id="checkbox" /> 记住用户名</label> <label><input type="checkbox" name="checkbox" id="checkbox" /> 记住密码</label>

                    </li>
                </ul>
            </div>
            <div class="login_bb"><a title="登录" href="card.html"><img src="images/login_dl.gif" alt="登录" /></a> <a title="新用户注册" href="#"><img src="images/login_zc.gif" alt="新用户注册" /></a></div>
        </div>
    </body>
</html>