.w96
  .r_bt
    .r_bt_l
      .r_bt_l_a
      .r_bt_l_c.fb.white 周期预定
    .r_bt_r
  .fform
    - form_for(@order) do |order_form|
      = render :partial => "form",:locals => {:f => order_form,:order => @order}
      .h10
      .input_bd
        %button.submit1.hand{:type => "submit"} 变更周期预定
        %button.submit1.hand{:onclick => "if(confirm('确认要取消么?')){window.location.href='/advanced_orders/#{@order.id}/cancle';}", :type => "button"} 变更周期预定
      .clear
  .h10
:javascript
  $(document).ready(function(){
    $( ".date-type-input" ).new_datepicker({ dateFormat: 'yy-mm-dd' });
    $("#order_member_name" ).autocomplete({
      source:  "/book_records/complete_for_members",
      select:  function(ui,li){
        var item = li.item
        var reqest_url  = "/book_records/complete_member_infos?id=" + item.id;
        $.get(reqest_url,function(returned_data)
        {
          $('#rel_member').html(returned_data);
        });
      }
    });
  });
