.w96
  .r_bt
    .r_bt_l
      .r_bt_l_a
      .r_bt_l_c.fb.white 修改分店
    .r_bt_r
  .fform
    .fformbox
      .fformbox_bt
        %p 请填写分店资料
      = render :partial => 'form'
    .h10
    .input_bd
      %button.submit1.hand{:name => "loginsubmit", :onclick => "fsubmit();return false;", :tabindex => "100", :type => "submit", :value => "true"} 提交
    .clear
  .h10
