= render :partial => "highlight_hover"
.w96
  = raw display_month_income_report(@date,@select_way,@pay_ways)
.h10
:javascript
  function recalculate(){
    params = "date=" +$('#date_year').val() + "-" + $('#date_month').val(); 
   $('.selected_way:checked').each(function(i,node){ params += ("&" + "select_way=" + $(this).val())});
    if($('.selected_way:checked').val() == "10"){
      $('.pay_ways:checked').each(function(i,node){ params += ("&" + "pay_ways[]=" + $(this).val())});
    }

    window.location = (window.location.pathname + "?" + params);
  }

function toogle_way(val){
  if(val == "10"){
    $('#way_span').show();   
  }else{
    $('#way_span').hide();   
  }
}

