.w96
  .r_bt
    .r_bt_l
      .r_bt_l_a
      .r_bt_l_c.fb.white 添加授权人
    .r_bt_r
  .fform
    .fformbox
      .fformbox_bt
        %p
          会员::#{@member_base.name}:: 授权人
      = render :partial => 'members/granter_form'
    .h10
    .input_bd
      %button.submit1.hand{:name => "loginsubmit", :onclick => "fsubmit();return false;", :tabindex => "100", :type => "submit", :value => "true"} 提交
    .clear
  .h10
